.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
  background-position: center center;
}

.link {
  color: inherit;
  text-decoration: none;
}
